@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

.font {
  font-family: 'Pretendard', sans-serif;
}

/* 
Title, 오늘의 단어, 랜덤 단어, 다운로드 및 설정 감싸는 컨테이너 
*/

.small-container {
  height: 80px;
  max-width: 80%;
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #ffffff;
}

/* 
Title 관련 
*/

.title-container {
  align-items: center;
  height: 80px;
}
.title-text {
  text-align: center;
  flex: 1;
  font-family: 'Pretendard', sans-serif;
}

/* 
오늘의 단어, 랜덤 키워드 관련 
*/

/* container 내부 text와 keyword box 배치 관련 */
.keyword-grid {
  display: flex;
  align-items: center;
  height: 80px;
  padding: 10px 50px;
  justify-content: center;
}

/* top3 keyword box 관련 */
.keyword-box {
  border-radius: 25px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  padding: 16px 0;
  color: #3c3c3c;
  font-weight: bold;
  background: linear-gradient(to bottom, #D3FFE7 0%, #EFFFF6 100%);
  margin: 0 40px;
}

.today-random-text {
  font-family: 'Pretendard', sans-serif;
}

/* random keyword box 관련 */
.random-box {
  border-radius: 25px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  padding: 16px 0;
  color: #3c3c3c;
  font-weight: bold;
  background: linear-gradient(to bottom, #FFC5C5 0%, #FFF7F8 100%);
}

/* random keyword box 사이의 text(오늘은, 그리고, 조합을 추천해!) 관련 */
.random-word-text {
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Pretendard', sans-serif;
}

/* 
setting 관련
*/

.setting-container {
  height: 60px;
  max-width: 80%;
  margin-top: 20px;
  margin-bottom: 10px;
}

/* 
관심사 분야 Summary 
*/

/* Summary 3개 감싸는 컨테이너 */
.carousel-container{
  height: 480px;
  max-width: 90%;
  margin-top: 10px;
}

/* Summary box */
.summary-grid {
  height: 400px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #ffffff;
  padding: 20px 20px;
  margin: 10px 10px;
}

/* 캐러셀 관련 */
.carousel-responsive {
  height: 450px;
  padding: 0px 50px;      /* 화살표 밖으로 */
}

/*
Modal 관련
*/
.interest-modal-box {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
  text-align: center; 
}

.download-modal-box {
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
  text-align: center; 
}

/* 
관심사 분야 Detail 
*/

/* Detail container */
.detail-container {
  height: 600px;
  max-width: 80%;
  margin-bottom: 20px;
}

/* Detail 내용 박스 */
.detail-container {
  height: 600px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #ffffff;
  padding: 30px 30px;
}

/* Detail container */
.detail-grid {
  height: 600px;
  max-width: 90%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.interest-select-view {
  background: linear-gradient(to bottom, #D3FFE7 0%, #EFFFF6 100%);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 45px;
  font-size: 14px;
  color: #626262;
}