/* 
관심사 분야 Summary 
*/

/* Summary 3개 감싸는 컨테이너 */
.carousel-container{
  height: 510px;
  max-width: 90%;
  margin-top: 10px;
  margin-bottom: 20px;
  /* background-color: #ff0000; */
}

/* 캐러셀 관련 */
.carousel-responsive {
    height: 510px;
    padding: 0px 50px;   
    /* background-color: aquamarine; */
  }

/* Summary box */
.summary-grid {
  height: 460px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #ffffff;
  padding: 20px 20px;
  margin: 10px 10px;
  /* background-color: #003cff; */
}

/* 코인 */
.coin-summary-view {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px 0;
}

.coin-divide-line {
    width: 100%;
    margin: 10px 0;
    color: lightgray;
    border: 1px solid lightgray;
    
}

.coin-position {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.coin-left-text {
    margin-left: 10px; 
    font-size: 16px;
    font-weight: 800;
    font-family: 'Pretendard', sans-serif;
}

.coin-right-text {
    margin-right: 10px;
    text-align: right;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Pretendard', sans-serif;
}

/* 뮤직 */
.chart-row {
    background-color: #F6F6F6;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
    padding: 20px 20px;
}

.rank-text {
    font-size: 20px;
    font-weight: 800;
    font-family: 'Pretendard', sans-serif;
}

.title-text {
    /* font-size: 10px;
    font-weight: 600; */
    font-family: 'Pretendard', sans-serif;
}